div.cover

	//- img.documentation(src="images/IMG_20160624_191204-22.jpeg")
	//- iframe.documentation(width="560" height="315" src="https://www.youtube.com/embed/N_9A8GBYgSY?autoplay=1&loop=1&showinfo=0&controls=0" frameborder="0" allowfullscreen)
	video.documentation(preload autoplay muted loop)
		source(src="/videos/bookhacking_documentation.mp4")

	div.textover
		h1 #bookhacking
		h2 «Мы берём свободное место в чьей-то голове и заполняем его литературой»
		h3 — Тони и Кендис, магазин книг, Portlandia
			//- br
			//- |  Women&Women First, Portlandia
		//- br
		//- p
		//- 	span.
		//- 	a(href="mailto:bookhacking@mail.ru") bookhacking@mail.ru
		

div.main

	//- iframe.documentation(width="560" height="315" src="https://www.youtube.com/embed/8cI1AUJWOXI" frameborder="0" allowfullscreen)

	div.

		Множество потоков бесполезной информации, привлекающей внимание своей яркой обложкой, распространяются, подобно вирусу заражая наше сознание. 
		Маленькие незаметные агенты в городских книжных магазинах распространяют ссылки на качественную литературу, находящуюся в свободном доступе, выступая за экологию пользования, экологию сознания. 
	br
	|	Вложенный стикер предлагает электронную версию книги для скачивания, но с бессмысленным текстом lorem ipsum вместо содержания. К уличенным в сексизме книгам — электронные версии феминисткой литературы.


	ul

		for book, id in public.projects._data

			//- li
			//- 	script.
			//- 		var getUrl = "https://api-ssl.bitly.com/v3/link/clicks?access_token=df2a8139306c44b9ec9ed78d34c6d7957f567696&link=" + encodeURIComponent('#{book.link}');

			//- 		$.get(getUrl, function(response) {
			//- 			$('##{id}').text(response.data.link_clicks);
			//- 		});
			//- 	div.counter
			//- 		| views 
			//- 		span(id=id)
			//- 			| 

			//- 	a.link(href=book.link target='_blank')= book.title

			li
				script.
					function declOfNum(number, titles) {  
					    cases = [2, 0, 1, 1, 1, 2];  
					    return titles[ (number%100>4 && number%100<20)? 2 : cases[(number%10<5)?number%10:5] ];  
					}

					var getUrl = "https://api-ssl.bitly.com/v3/link/clicks?access_token=df2a8139306c44b9ec9ed78d34c6d7957f567696&link=" + encodeURIComponent('#{book.link}');

					$.get(getUrl, function(response) {
						$('##{id}').text(response.data.link_clicks + " " + declOfNum(response.data.link_clicks, ['просмотр', 'просмотра', 'просмотров']));
					});


				div.counter
					span(id=id) 
					

				a.link(href=book.original_link target='_blank')= book.title	
	//- p
	//- 	span.
	//- 	a(href="mailto:bookhacking@mail.ru") bookhacking@mail.ru


div.gallery.swiper-container
	
	.swiper-wrapper
		for image, index in public.images._contents
			if (typeof image != 'undefined' && image.match(/\b.(jpg|bmp|jpeg|gif|png|tif)\b/gi) )
				.swiper-slide(style="background-image: url('/images/#{image}')")

	.swiper-pagination
	.swiper-button-next
	.swiper-button-prev

script.
	var swiper = new Swiper('.swiper-container', {
		//- pagination: '.swiper-pagination',
		nextButton: '.swiper-button-next',
		prevButton: '.swiper-button-prev',
		//- paginationClickable: true,
		spaceBetween: 0,
		centeredSlides: true,
		autoplay: 5000,
		loop: true
		// autoplayDisableOnInteraction: false
	});


div.main
	p

		span.
		a(href="mailto:bookhacking@mail.ru") bookhacking@mail.ru

